@using Fasterflect
@using Microsoft.AspNetCore.Components.Forms
<h3>TextBoxTemplate</h3>

<div>
    <label>@ContextData.PropertyName</label>
</div>
<div>
    <input type="text"
           value="@ContextData.PropertyValue" 
           @onchange="@OnValueChanged"/>
</div>



