@inherits RenderableComponentBase
@typeparam T


<EditForm Model="@ValueElement.Data">
    <div>
        <label>@(ValueElement.AttributeName??ValueElement.RawName)</label>
    </div>
    <div>
        <p  class="w-100 form-control mb-0">
            @ValueElement.Data
        </p>
       

    </div>
</EditForm>