@inherits RenderableComponentBase
@typeparam T
<div class=" form-group">
    <div>
        <label>@ValueElement.RawName</label>
    </div>
    <div >
        <p class="w-100 form-control">
            @ValueElement.Data
        </p>
    </div>
</div>