@inherits RenderableComponentBase

<div class="form-group">
    <div>
        <label>@(ValueElement.AttributeName??ValueElement.RawName)</label>
    </div>
    
    <div class="form-check form-switch">
        <input class="form-check-input" 
               type="checkbox" 
               id="SwitchCheckDefault" @bind="ValueElement.Data"
               disabled>
    </div>

    
</div>