@page "/festival"
@using ServerSideTestApp.Services
@using FestivalProject.BL.Models.FestivalDto
@using FestivalProject.DAL.Enums
<h3>FestivalDetailView</h3>


@if(Festival.BoolArray!=null)
{
    <RenderableContentControl ContextBase="@Festival"
                              Presentation="PresentationType.Control"
                              Order="@Order"
                              Layout="LayoutTypes.Grid4">

    </RenderableContentControl>
}

@code {
    [Inject]
    public IFestivalService FestivalService {get; set; }

    public FestivalDetailDto Festival { get; set; }
    private IDictionary<string, int> Order { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        Order = new Dictionary<string, int>() {{"logouri", 0}};

       // Festival = await FestivalService.GetFestivalDetail();
        //Festival.BoolArray = new List<bool>();


        Festival = new FestivalDetailDto
        {
            Name = null,
            Genre = MusicGenre.Rock,
            Country = null,
            LogoUri = null,
            City = null,
            Street = "cus",
            Description = null,
            StartTime = default,
            EndTime = default,
            BoolArray = new List<string>{"true","true","false","true","true","true","false"},
            Price = 0,
            Capacity = 0,
            StageList = null,
            FestivalInterpret = null

        };




    }

}
