@page "/festival"
@using ServerSideTestApp.Services
@using FestivalProject.BL.Models.FestivalDto
@using FestivalProject.DAL.Enums
<h3>FestivalDetailView</h3>


@if(Festival!=null)
{
    <RenderableContentControl Context="@Festival"
                              Presentation="PresentationType.Control"
                              Order="@Order"
                              Layout="LayoutTypes.Grid4"
                              IgnoredFields="city, description">

    </RenderableContentControl>
}

@code {
    [Inject]
    public IFestivalService FestivalService {get; set; }

    public FestivalDetailDto Festival { get; set; }
    private IDictionary<string, int> Order { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        Order = new Dictionary<string, int>() {{"logouri", 0}};

       Festival = await FestivalService.GetFestivalDetail();
        


       




    }

}
