@page "/"
@using BlazorGenUI.Reflection.Enums
@using FestivalProject.BL.Models.FestivalDto
@using ObjectsClassLibrary
@using ServerSideTestApp.Services




@*<RenderableContentControl ContextBase="TestObject" Presentation="PresentationType.Control">

</RenderableContentControl>*@

@if (Festivals != null)
{
    <p>@Festivals.First().City</p>
}


<input type="checkbox" @bind="IsChecked"/>



@*<p>@TestObject.TestInteger</p>*@

@code
{

    [Inject]
    public IFestivalService FestivalService {get; set; }


    public IEnumerable<FestivalListDto> Festivals { get; set; }

    public TestDto TestObject { get; set; } = new TestDto();

    private bool _isChecked;
    public bool IsChecked { get; set; }
   @* public bool IsChecked
    {
        get => _isChecked;
        set
        {
            _isChecked = value;
            if (value)
                TestObject.TestInteger = 25;
        }
    }*@
    protected override async Task OnInitializedAsync()
    {
        Festivals = (await FestivalService.GetFestivalList()).ToList();
    }

    @*protected override void OnInitialized()
    {
        TestObject = new TestDto()
        {
            TestString = "ahoj",
            TestInteger = 15,
            //ListOfIntegers = new List<int>() { 1, 2, 3, 4 },
            //Entity = new TestEntity(){Name = "janko", Surname = "Spavor", Age = 14}
        };
    }*@
}