@page "/"
@using BlazorGenUI.Reflection.Enums
@using FestivalProject.BL.Models.FestivalDto
@using FestivalProject.BL.Models.StageDto
@using ObjectsClassLibrary
@using ServerSideTestApp.Services



@if (Festivals != null)
{
    <RenderableContentControl ContextBase="@Stage" Presentation="PresentationType.Control">

</RenderableContentControl>
    <p>@Pohoda.City</p>
}

<button @onclick="Update">Save</button>

@*<input type="checkbox" @bind="IsChecked"/>*@




@*<p>@TestObject.TestInteger</p>*@

@code
{
    [Inject]
    public IFestivalService FestivalService {get; set; }
    [Inject]
    public IStageService StageService {get; set; }

    

    public IEnumerable<FestivalListDto> Festivals { get; set; }
    public StageDetailDto Stage { get; set; }
    public FestivalListDto Pohoda { get; set; }
    public TestDto TestObject { get; set; } = new TestDto();


    private async Task Update()
    {
        var test = Pohoda;
        var stage = Stage;
    }

    
    public bool IsChecked { get; set; }
  
    protected override async Task OnInitializedAsync()
    {
        Festivals = (await FestivalService.GetFestivalList()).ToList();
        Stage = (await StageService.GetStageDetail());
        Pohoda = Festivals.First();
    }

   
}