@page "/stagedetail"
@using ServerSideTestApp.Services
@using FestivalProject.BL.Models.StageDto



<h1>StageDetail</h1>
@if (Stage != null)
{
    <RenderableContentControl Context="@Stage"
                              Presentation="PresentationType.Control">
    </RenderableContentControl>
}

@code {

    [Inject]
    public IStageService StageService {get; set; }

    public StageDetailDto Stage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        Stage = (await StageService.GetStageDetail());
       
    }
}
