@inherits RenderableComponentBase
@using BlazorGenUI.Reflection.ValueElementTypes

<style>
    .container-image {
        max-width: 200px;
        height: auto;
    }

        .container-image img {
            width: 100%;
            height: auto;
        }
</style>
<div class="container-image">
    <img src="@ValueElement.Data" class="img-thumbnail" />
</div>

@code {
    [Parameter]
    public ValueElementT<string> ValueElement { get; set; }

}
