@using Fasterflect
@using BlazorGenUI.Reflection.Exceptions


<div class="w-100">
    <TabControl>
        <div class="content">
            @foreach (var item in Items)
            {
                var tabName = @item.EncapsulatedDto.TryGetPropertyValue(TabNameProperty);
                if (tabName == null)
                {
                    throw new IncorrectTabNameException($"Error! Property with name {TabNameProperty} doesn't exists! Make sure you wrote correct property name!");
                }
                <TabPage Text="@tabName.ToString()">

                    <RenderableContentControl
                        ContextBase="@item.EncapsulatedDto"
                        Presentation="PresentationType.Control"/>
                </TabPage>
            }
        </div>
    </TabControl>
</div>


@code{

    [Parameter]
    public ArrayElement ArrayElement { get; set; }
    [Parameter]
    public string TabNameProperty { get; set; }
    public IEnumerable<IComplexElement> Items { get; set; }


    protected override void OnInitialized()
    {
        
        Items = ArrayElement.GetItems();
  
    }
}