@page "/listbase"
@using FestivalProject.BL.Models.FestivalDto
@using FestivalProject.DAL.Enums
<h1>ListViewBase</h1>
@if (TestList == null)
{
    <p>Loading</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="container">
                <ul class="list-group-horizontal">
                    @foreach (var festival in TestList)
                    {
                        <NavLink class="no-text-decoration" href="@($"/Festival/{festival.Id}")">
                        <li class="list-group-item d-flex justify-content-start">
                            <div style="width:100%; padding-left: 1%; padding-top: 1%">
                                <div class="d-flex justify-content-between">
                              
                                    <h5>@festival.Name</h5>
                                    <NavLink type="button" class="btn btn-success" href="@($"/Goods/{festival.Id}")" style="margin: -0.4em 0.4em; width: 4.5em; height: 2.3em;">
                                        Detail
                                    </NavLink>
                                    </div>
                                </div>
                           



                            </li>
                        </NavLink>
                    }
                </ul>
            </div>
        </div>
    </div>
}

@code {
    List<FestivalListDto> TestList { get; set; }
    protected override void OnInitialized()
    {
        TestList = new List<FestivalListDto>();
        TestList.Add(new FestivalListDto()
        {
            Id = Guid.Parse("30d09c0f-f6aa-442c-9d87-2869faf175f4"),
            Name = "Grape",
            City = "Piešťany",
            Country = "Slovakia",
            Genre = MusicGenre.Rock,
            LogoUri = "https://www.gregi.net/wp-content/uploads/2018/07/logo-1.jpg"
        });
        TestList.Add(new FestivalListDto()
        {
            Id = Guid.Parse("46abef51-c53f-4cc5-a270-a2756ef1455e"),
            Name = "Pohoda",
            City = "Trenčín",
            Country = "Slovakia",
            Genre = MusicGenre.Rock,
            LogoUri = "https://dl-media.viber.com/5/share/2/long/vibes/icon/image/0x0/105c/2c48f0221e7b0b58487a6483ba8c19e8a0a4f4d27a7e0291932b5dc92c41105c.jpg"
        });
        TestList.Add(new FestivalListDto()
        {
            Id = Guid.Parse("46abef51-c53f-4cc5-a270-a2756ef1455e"),
            Name = "Oktoberfest",
            City = "Trenčín",
        });
        TestList.Add(new FestivalListDto()
        {
            Id = Guid.Parse("46abef51-c53f-4cc5-a270-a2756ef1455e"),
            Name = "Tommorowland",
            City = "Trenčín",
        });


    }
}
